<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Anonymise {{ post.title }}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="" />
    <link rel="icon" href="favicon.png">

    <link rel="stylesheet" href="/style.css">
  </head>

  <body>
    <div id="center">
      {% include 'nav' %}

      <div id="main">
        {% include 'post_preview' %}

        <span class="warning-box">
          <span class="content">
            Deleted posts cannot be restored. Do this only
            to remove junk or illegal/inappropriate content
          </span>
        </span>

        <span>
          Input post title to confirm
        </span>

        <form method="post" action="/api/post/delete">
          <input type="hidden" name="post_id" value="{{ post.id }}" />

          <input required name="confirm" placeholder="{{ post.title }}" maxlength={{ title_max_char_count }} />

          <input type="submit" value="Confirm" />
        </form>

        {% if error %}
          <span class="error-box">
            {{ error }}
          </span>
        {% endif %}
      </div>
    </div>
  </body>
</html>