<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>neor</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="" />
    <link rel="icon" href="favicon.png">

    <link rel="stylesheet" href="/style.css">
  </head>

  <body>
    <div id="center">
      <div id="main" class="center-box">
        <img class="cirno" src="/files/not_found.gif" />

        <span style="font-size: 5rem;">404 · NOT FOUND</span>

        <a href="/">Home</a>
      </div>
    </div>
  </body>
</html>