<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Password Reset</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="" />
    <link rel="icon" href="favicon.png">

    <link rel="stylesheet" href="/style.css">
  </head>

  <body>
    <div id="center">
      {% include 'nav' %}

      <div id="main">
        <form method="post" action="/api/password-reset">
          <input required name="email" placeholder="Email" maxlength={{ email_max_char_count }} />

          <input type="submit" value="Reset password" />
        </form>

        {% if error %}
          <span class="error-box">
            {{ error }}
          </span>
        {% endif %}
      </div>
    </div>
  </body>
</html>