<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Sign Up</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="" />
    <link rel="icon" href="favicon.png">

    <link rel="stylesheet" href="/style.css">
  </head>

  <body>
    <div id="center">
      {% include 'nav' %}

      <div id="main">
        <form method="post" action="/api/sign-up">
          <input required name="username" placeholder="Username" maxlength={{ username_max_char_count }} />
          <input required type="email" name="email" placeholder="Email" maxlength={{ email_max_char_count }} />
          <input required type="password" name="password" placeholder="Password" maxlength={{ password_max_char_count }} />
          <input required type="password" name="password_repeat" placeholder="Password repeat" maxlength={{ password_max_char_count }} />

          <input type="submit" value="Sign Up" />

        </form>

        {% if error %}
          <span class="error-box">
            {{ error }}
          </span>
        {% endif %}
      </div>
    </div>
  </body>
</html>